a,
a:visited {
    color: dodgerblue
}

body {
    border: 1px solid dodgerblue
}

.album-art,
.audio-player {
    width: 100%
}

.track {
    color: gray;
    font-weight: 300;
}

.track:hover {
    color: black;
    cursor: pointer;
    font-weight: normal;
}

.currently-playing {
    color: black;
    text-decoration: underline;
    font-weight: normal;
}